
$nav-large-color:#666;
$active-blue: #2DB6F4;
$divider-color: #EBEBEB;

@mixin font($weight,$size){
    font-size: $size;
    font-weight: $weight;
}

a{
    color: $nav-large-color;
}
span{
    font-size: 14px;
}
i{
    cursor: pointer;
}

/*****************reset element *********************/
.el-slider__runway.show-input{
    margin-right: 120px;
}
.el-input-number--small{
    width: 100px;
}
.el-date-editor,.el-date-editor__editor,.el-time-panel__footer{
    // height: 24px;
}
.el-icon-plus,.el-icon-minus{
    margin-top: 3px;
}
.el-input,.el-select{
    display: inline-block;
}
.el-textarea{
    width: 80%;
}



.my-info-container{
    width: 100%;
    height: 100%;
    margin: 0;
    // display: flex;
    color: $nav-large-color;
    .info-nav{
        width: 120px;
        position: fixed;
        top: 64px;
        padding-top: 60px;
    }
    .info-main{
        // flex: 1;
        margin-left: 120px;
        overflow: auto;
        background-color: white;
        padding: 50px;
    }
}
.info-out-navitem{
    margin-bottom: 20px;
    text-align: right;
}

.info-out-navitem>a{
    display: block;
    margin-bottom: 6px;
    padding-right: 20px;

    width: 100%;
    color: $nav-large-color;
    @include font(bold,16px);
    line-height: 1.5em;

}
.info-inner-navitem:hover{
    border-right: 6px solid $active-blue;
}
.info-inner-navitem{
    // box-sizing: border-box;
    border-right: 6px solid transparent;

}
.info-inner-navitem>a{
    display: block;

    width: 100%;
    @include font(bold,12px);
    line-height: 18px;
    // text-align: right;
    padding: 6px 20px 6px 0;

}


.active{
    border-right: 6px solid $active-blue;
}



.section-item{
    padding: 40px 0;
    border-bottom: 2px dashed $divider-color;
}


/*************************************************************/
.section-item{
    h3{
        width: 100%;
    }
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        .card{
            flex: 1;
            padding: 0 20px;
            box-sizing: border-box;
            min-width: 50%;
            margin-bottom: 40px;
        }
        .card:nth-child(odd){
            border-right: 1px solid $divider-color;
        }
    }
    .button-group{
        margin-top: 20px;
        text-align: center;
    }

    .card{
        text-align: center;
        .sub-title{
            display: inline-block;
            margin: 10px auto 20px;
        }
        .form-part{
            text-align: left;
        }

    }
    .sub-title{
        font-size: 14px;
        padding: 3px 7px;
        background: #F4F4F4;
    }
    .form-item{
        display: flex;
        line-height: 36px;
        margin: 10px 0;
        .form-left{
            width: 120px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: right;
            padding-right: 20px;
        }
        .form-right{
            flex: 1;
            vertical-align: middle;
            // display: inline-block;
        }
    }
}

.two-column{
    display: inline-block;
    width: 49%;
}