.clearfix:after{
    content:"";
    display: block;
    clear:both;
    height: 0;
}
.clearfix{
    zoom:1;
}
.disable-base{
    cursor: not-allowed;
    color: #c0ccda;
    border-color: #d3dce6;
    background-color: #fff;
}
.btn.disabled{
    @extend .disable-base;
    &:hover{
        @extend .disable-base;
    }
}